/* src/components/TodoItem.css */
.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-item p {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.todo-item p.completed {
  text-decoration: line-through;
  color: #6c757d;
}

.todo-item .labels {
  display: flex;
}

.todo-item .label {
  display: inline-block;
  padding: 5px;
  margin: 2px;
  border-radius: 3px;
  color: white;
  background-color: #007bff; /* Default color */
}

.todo-item-buttons {
  display: flex;
  gap: 10px;
}

.todo-item-buttons button {
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.edit-button {
  background-color: #c977a7;
}

.edit-button:hover {
  background-color: #0056b3;
}

.complete-button {
  background-color: #28a745;
}

.complete-button:hover {
  background-color: #218838;
}

.delete-button {
  background-color: #dc3545;
}

.delete-button:hover {
  background-color: #c82333;
}
