/* src/components/HomePage.css */
.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f2f5; /* Light background color */
}

.home-page-header,
.home-page-footer {
  text-align: center;
  padding: 20px;
}

.home-page-main {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}
